/* #Font Face
================================================== */

@font-face {
    font-family: 'Begum-Regular';
    src: url('../fonts/Begum-Regular.eot');
    src: url('../fonts/Begum-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Begum-Regular-webfont.woff') format('woff'),
         url('../fonts/Begum-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Begum-Regular-webfont.svg#Begum-Regular') format('svg');
    font-weight: normal;
    font-style: normal; 
}

