/* #Font Face
================================================== */

@font-face {
    font-family: 'Begum-Regular';
    src: url('../fonts/adelle_light-webfont.eot');
    src: url('../fonts/adelle_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/adelle_light-webfont.woff') format('woff'),
         url('../fonts/adelle_light-webfont.ttf') format('truetype'),
         url('../fonts/adelle_light-webfont.svg#AdelleLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

